In [4]:
#Yearly dataset, import from xlsx
import pandas as pd
import os
import numpy as np
csv_path= "2014-sales.csv"
sales_df = pd.read_csv(csv_path)
sales_df.head(42)

,2014-US,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,Nissan LEAF,1252,1425,2507,2088,3117,2347,3019,3186,2881,2589,2687,3102,30200
1,Chevrolet Volt,918,1210,1478,1548,1684,1111,2020,2511,1394,1439,1336,1490,18805
2,Tesla Model S*,800,1089,1300,1100,1000,1500,800,600,2500,1300,1200,3500,16689
3,Toyota Prius PHV,803,1041,1452,1141,2692,1571,1371,818,353,419,451,492,13264
4,Ford Fusion Energi,533,179,899,143,1342,1939,1226,1222,640,686,152,789,11550
5,Ford C-Max Energi,411,552,610,525,182,988,831,1050,611,644,644,659,8433
6,BMW 13,0,0,0,0,336,358,363,1025,1022,1159,816,1013,6092
7,Fiat 500e et,310,336,644,442,416,636,528,535,518,217,211,279,5132
8,smart ED,97,122,186,203,206,278,298,208,182,150,313,351,2594
9,Ford Focus Electric,100,129,117,116,117,197,198,264,116,186,191,53,1964
10,Cadillac ELR,41,58,81,61,52,97,188,196,111,152,155,118,1310
11,Toyota RAV4 EV,63,101,73,69,149,91,68,228,125,97,83,37,1184
12,Chevrolet Spark EV,93,11,108,97,182,85,128,80,51,58,61,131,1145
13,Porsche PanameraS-E,141,57,56,63,53,111,63,68,82,97,57,31,879
14,Vercedes S-Class EC,0,0,0,0,0,0,41,51,65,98,193,326,174
15,BL1VV i8,0,0,0,0,0,0,0,9,58,204,126,158,555
16,Honda Accord PHV,27,24,18,37,46,28,41,46,42,34,43,63,449
17,Honda Fit EV,30,33,37,50,33,38,42,55,29,23,5,32,407
18,Kia Soul EV,0,0,0,0,0,0,0,0,0,109,140,110,359
19,VW e-Golf,0,0,0,0,0,0,0,0,0,1,119,231,351
20,Mitsubishi i-MiEV,1,3,24,12,35,22,17,20,15,11,18,12,196
21,PorscheCayenne S-E,0,0,0,0,0,0,0,0,0,0,45,55,100

In [10]:
#convert to integer for sorting
sales_df.rename(columns={"2014-US":"Model"}, inplace=True)
sales_df['JAN'] = pd.to_numeric(sales_df.JAN.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['FEB'] = pd.to_numeric(sales_df.FEB.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['MAR'] = pd.to_numeric(sales_df.MAR.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['APR'] = pd.to_numeric(sales_df.APR.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['MAY'] = pd.to_numeric(sales_df.MAY.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['JUN'] = pd.to_numeric(sales_df.JUN.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['JUL'] = pd.to_numeric(sales_df.JUL.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['AUG'] = pd.to_numeric(sales_df.AUG.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['SEP'] = pd.to_numeric(sales_df.SEP.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['OCT'] = pd.to_numeric(sales_df.OCT.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['NOV'] = pd.to_numeric(sales_df.NOV.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['DEC'] = pd.to_numeric(sales_df.DEC.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df['Total'] = pd.to_numeric(sales_df.Total.astype(str).str.replace(',',''), errors='coerce', downcast='integer')
sales_df.fillna(value=0, inplace=True)
sales_df.head(50)

,Model,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,Nissan LEAF,1252,1425,2507,2088,3117,2347,3019,3186,2881,2589,2687,3102,30200
1,Chevrolet Volt,918,1210,1478,1548,1684,1111,2020,2511,1394,1439,1336,1490,18805
2,Tesla Model S*,800,1089,1300,1100,1000,1500,800,600,2500,1300,1200,3500,16689
3,Toyota Prius PHV,803,1041,1452,1141,2692,1571,1371,818,353,419,451,492,13264
4,Ford Fusion Energi,533,179,899,143,1342,1939,1226,1222,640,686,152,789,11550
5,Ford C-Max Energi,411,552,610,525,182,988,831,1050,611,644,644,659,8433
6,BMW 13,0,0,0,0,336,358,363,1025,1022,1159,816,1013,6092
7,Fiat 500e et,310,336,644,442,416,636,528,535,518,217,211,279,5132
8,smart ED,97,122,186,203,206,278,298,208,182,150,313,351,2594
9,Ford Focus Electric,100,129,117,116,117,197,198,264,116,186,191,53,1964
10,Cadillac ELR,41,58,81,61,52,97,188,196,111,152,155,118,1310
11,Toyota RAV4 EV,63,101,73,69,149,91,68,228,125,97,83,37,1184
12,Chevrolet Spark EV,93,11,108,97,182,85,128,80,51,58,61,131,1145
13,Porsche PanameraS-E,141,57,56,63,53,111,63,68,82,97,57,31,879
14,Vercedes S-Class EC,0,0,0,0,0,0,41,51,65,98,193,326,174
15,BL1VV i8,0,0,0,0,0,0,0,9,58,204,126,158,555
16,Honda Accord PHV,27,24,18,37,46,28,41,46,42,34,43,63,449
17,Honda Fit EV,30,33,37,50,33,38,42,55,29,23,5,32,407
18,Kia Soul EV,0,0,0,0,0,0,0,0,0,109,140,110,359
19,VW e-Golf,0,0,0,0,0,0,0,0,0,1,119,231,351
20,Mitsubishi i-MiEV,1,3,24,12,35,22,17,20,15,11,18,12,196
21,PorscheCayenne S-E,0,0,0,0,0,0,0,0,0,0,45,55,100

In [11]:
#sort
clean_df = sales_df.sort_values(by=['Total'], ascending=False)
clean_df.head(50)

,Model,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,Nissan LEAF,1252,1425,2507,2088,3117,2347,3019,3186,2881,2589,2687,3102,30200
1,Chevrolet Volt,918,1210,1478,1548,1684,1111,2020,2511,1394,1439,1336,1490,18805
2,Tesla Model S*,800,1089,1300,1100,1000,1500,800,600,2500,1300,1200,3500,16689
3,Toyota Prius PHV,803,1041,1452,1141,2692,1571,1371,818,353,419,451,492,13264
4,Ford Fusion Energi,533,179,899,143,1342,1939,1226,1222,640,686,152,789,11550
5,Ford C-Max Energi,411,552,610,525,182,988,831,1050,611,644,644,659,8433
6,BMW 13,0,0,0,0,336,358,363,1025,1022,1159,816,1013,6092
7,Fiat 500e et,310,336,644,442,416,636,528,535,518,217,211,279,5132
8,smart ED,97,122,186,203,206,278,298,208,182,150,313,351,2594
9,Ford Focus Electric,100,129,117,116,117,197,198,264,116,186,191,53,1964
10,Cadillac ELR,41,58,81,61,52,97,188,196,111,152,155,118,1310
11,Toyota RAV4 EV,63,101,73,69,149,91,68,228,125,97,83,37,1184
12,Chevrolet Spark EV,93,11,108,97,182,85,128,80,51,58,61,131,1145
13,Porsche PanameraS-E,141,57,56,63,53,111,63,68,82,97,57,31,879
15,BL1VV i8,0,0,0,0,0,0,0,9,58,204,126,158,555
16,Honda Accord PHV,27,24,18,37,46,28,41,46,42,34,43,63,449
17,Honda Fit EV,30,33,37,50,33,38,42,55,29,23,5,32,407
18,Kia Soul EV,0,0,0,0,0,0,0,0,0,109,140,110,359
19,VW e-Golf,0,0,0,0,0,0,0,0,0,1,119,231,351
20,Mitsubishi i-MiEV,1,3,24,12,35,22,17,20,15,11,18,12,196
14,Vercedes S-Class EC,0,0,0,0,0,0,41,51,65,98,193,326,174
21,PorscheCayenne S-E,0,0,0,0,0,0,0,0,0,0,45,55,100

In [12]:
topten_df= clean_df.iloc[0:10]
topten_df.head(10)

,Model,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,Nissan LEAF,1252,1425,2507,2088,3117,2347,3019,3186,2881,2589,2687,3102,30200
1,Chevrolet Volt,918,1210,1478,1548,1684,1111,2020,2511,1394,1439,1336,1490,18805
2,Tesla Model S*,800,1089,1300,1100,1000,1500,800,600,2500,1300,1200,3500,16689
3,Toyota Prius PHV,803,1041,1452,1141,2692,1571,1371,818,353,419,451,492,13264
4,Ford Fusion Energi,533,179,899,143,1342,1939,1226,1222,640,686,152,789,11550
5,Ford C-Max Energi,411,552,610,525,182,988,831,1050,611,644,644,659,8433
6,BMW 13,0,0,0,0,336,358,363,1025,1022,1159,816,1013,6092
7,Fiat 500e et,310,336,644,442,416,636,528,535,518,217,211,279,5132
8,smart ED,97,122,186,203,206,278,298,208,182,150,313,351,2594
9,Ford Focus Electric,100,129,117,116,117,197,198,264,116,186,191,53,1964

In [13]:
topten_df.to_csv("2014topten.csv")